*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 400px;
    display: flex;
}

.img-big{
    width: 70%;
    position: relative;
}

.text-img-big{
    color: white;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 20px;
}

.all-img-right{
    width: 30%;
    position: relative;
}

.img-small{
    height: calc(100% / 5);
}

.img-big img, .img-small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    left: calc(50% - 15px);
    border-radius: 100%;
    border: none;
    z-index: 10;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.prev-btn{
    top: 15px;
}

.next-btn{
    bottom: 15px;
}

.img-small.active {
    border: 3px solid #fff;
}